body {
	margin:0;
	padding:0;
	background: #efefef;
	font-size:14px;
	font-family: sans-serif;
}

#header {
	height:50px;
	width:100%;
	background: rgb(69,72,77);
	background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
	background: linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	font-size:12px;

	-webkit-box-shadow: 0px 1px 10px 0px #000000;
	-moz-box-shadow: 0px 1px 10px 0px #000000;
	box-shadow: 0px 1px 10px 0px #000000;
}

#content {
	padding:10px;
	padding-top:30px;
	color:#4a4a4a;
}

#header h1 {
	line-height:50px;
	width:195px;
	height: 40px;
	background:url(logo.png);
	position: absolute;
	left:25px;
	top:5px;
	text-indent: -9999px;
	display:block;
	margin:0;
	padding:0;
}

#header img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 2px #7a7a7a;
	-moz-box-shadow: 0px 2px 2px #7a7a7a;
	box-shadow: 0px 2px 2px #7a7a7a;
	margin-right: 7px;
}

.box {
	width:450px;
	margin:auto;
	margin-top:100px;

	-webkit-box-shadow: 0px 0px 6px 1px #aaa;
	-moz-box-shadow: 0px 0px 6px 1px #aaa;
	box-shadow: 0px 0px 6px 1px #aaa;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.box .header {
	border: 1px solid #555;
	border-bottom: none;
	line-height: 60px;
	font-size:20px;
	margin:0;
	padding-left:30px;
	color:#ddd;
	font-weight:normal;

	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	background:url(menu_background.png);
}

.box .content {
	padding:10px 30px;
	border:1px solid #ccc;
	border-top:0;

	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}

input {
	width:94%;
	padding: 10px;
	line-height:20px;
	font-size:14px;
	margin-bottom:12px;
	border:1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 6px 1px #aaa;
	-moz-box-shadow: 0px 0px 6px 1px #aaa;
	box-shadow: 0px 0px 6px 1px #aaa;
	color:#666;
}

.error {
	width:94%;
	padding: 10px;
	line-height:20px;
	font-size:14px;
	margin-bottom:12px;
	margin-top:12px;
	border:1px solid #F66;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 6px 1px #aaa;
	-moz-box-shadow: 0px 0px 6px 1px #aaa;
	box-shadow: 0px 0px 6px 1px #aaa;
	color:#F66;
	background-color: #FDD;
	text-align: center;
}

input.submit {
	width:25%;
	float:right;
	color:#222;
	background: #9dd53a; /* Old browsers */
	background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
	background: linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
	opacity:.75;
}

input.submit:focus, input.submit:hover {
	opacity:1;
}

input:focus {
	outline:none;
}